{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


<style>
    .hidden {
        display: none;
    }

body {
    background-color: #edf3fa; /* Cor cinza azulado claro */
    font-size: 14px; /* Tamanho da fonte reduzido */
}

.custom-title {
    font-size: 24px; /* Aumenta o tamanho da fonte */
    color: #34568B; /* Cor azul escura para o texto */
    font-weight: bold; /* Torna o texto em negrito */
    text-shadow: 1px 1px 2px #8a8a8a; /* Sombra leve para dar profundidade */
    letter-spacing: 1.5px; /* Espaçamento entre as letras */
    padding: 10px 0; /* Padding superior e inferior para dar mais espaço */
    margin-bottom: 20px; /* Espaço extra abaixo do título */
}

.graficos-container {
    display: flex;
    justify-content: space-around; /* Isso distribui espaço igualmente entre os elementos, você pode ajustar conforme necessário */
    align-items: flex-start; /* Isso alinha os itens ao topo, você pode ajustar conforme necessário */
}

.grafico {
    flex-basis: 48%; /* Isso define uma base para cada gráfico ocupar quase metade do espaço disponível, ajuste conforme necessário */
    /* Adicione margem ou padding conforme necessário */
}

/* Se necessário, ajuste para telas menores */
@media (max-width: 768px) {
    .graficos-container {
        flex-direction: column;
    }
    .grafico {
        flex-basis: auto; /* Os gráficos ocuparão a largura total em telas menores */
        margin-bottom: 20px; /* Adiciona espaço entre os gráficos quando estiverem um acima do outro */
    }
}



</style>

<h3 class="mt-3 text-center custom-title bg-white shadow-md rounded-lg w-full">Solicitações SARD GEX ANAPOLIS</h3>

<div class="container mx-auto mt-3">
    <div class="flex justify-center">

        <div class="w-full md:w-1/2">
            <div class="bg-white shadow-md rounded-lg">
                <div class="p-4 border-b">
                    <h2 class="text-2xl font-bold">Status da Aplicação</h2>
                    <br>
                    {% if status_api.status == "Online" %}
                        <p class="text-sm text-green-600">
                            <i class="fa-solid fa-circle-check mr-2"></i>
                            A API está <span class="font-semibold" id="apiStatus1">Online</span>
                        </p>
                    {% else %}
                        <p class="text-sm text-red-600">
                            <i class="fa-solid fa-circle-exclamation mr-2"></i>
                            A API está <span class="font-semibold" id="apiStatus2">Offline</span>
                        </p>
                    {% endif %}
                </div>
                <div class="p-4">
                    <form id="registrarSolicitacao" method="POST" class="space-y-4">
                        <div>
                            <label for="tipo" class="block text-sm font-medium text-gray-700">Tipo</label>
                            <select id="tipo" name="tipo" required class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                                <option value="">Selecione uma opção</option>
                                <option value="Solicitar Tarefas BI">Solicitar Tarefas BI</option>
                                <option value="Solicitar Tarefas de Análise de Acordão">Solicitar Tarefas de Análise de Acordão</option>
                                <option value="Solicitar Tarefas de Análise de Acordão - NÃO PROVIDO">Solicitar Tarefas de Análise de Acordão - NÃO PROVIDO</option>
                                <option value="Solicitar Tarefas de Instrução de Recurso">Solicitar Tarefas de Instrução de Recurso</option>
                                <option value="Transferir tarefa">Transferir tarefa</option>
                                <option value="Excluir responsável">Excluir responsável</option>
                                <option value="Atribuir responsável">Atribuir responsável</option>
                            </select>
                        </div>
                        <div class="hidden">
                            <label for="protocolo" class="block text-sm font-medium text-gray-700">Protocolo</label>
                            <input type="text" id="protocolo" name="protocolo" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                        </div>
                        <div>
                            <label for="solicitante" class="block text-sm font-medium text-gray-700">Siape solicitante</label>
                            <input type="text" id="solicitante" name="solicitante" required class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                        </div>
                        <div class="hidden">
                            <label for="matricula" class="block text-sm font-medium text-gray-700">Matrícula</label>
                            <input type="text" id="matricula" name="matricula" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                        </div>
                        <div class="hidden">
                            <label for="especie" class="block text-sm font-medium text-gray-700">Cód. Espécie</label>
                            <input type="text" id="especie" name="especie" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                        </div>
                        <div class="hidden">
                            <label for="unidade" class="block text-sm font-medium text-gray-700">Unidade</label>
                            <input type="text" id="unidade" name="unidade" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                        </div>
                        <div class="flex justify-center">
                            <button type="submit" class="px-4 py-2 bg-green-500 text-white font-bold rounded hover:bg-green-700">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="bg-white shadow-md rounded-md" style="margin-left: 20px;">
            <div class="p-4">
                Portal de solicitações da GEX Anápolis tem como propósito proporcionar maior transparência e agilidade no processamento das requisições dos servidores da GEX ANAPOLIS.
                Cada solicitação será registrada em um registro (log) e sujeita a auditorias periódicas.
                Após clicar em "Registrar", aguarde 30 segundos e atualize a página para visualizar o resultado da operação na tabela de registro de Solicitações.
            </div>
        </div>
    </div>

<div class="container mt-2 rounded mb-2">
    <div class="row">
        <div class="grafico col-md-6 bg-white shadow-md rounded-lg mr-1" id="grafico-estoque"></div>
        <div class="grafico col-md-6 bg-white shadow-md rounded-lg mr-1" id="grafico-estoque-instrucao"></div>
    </div>
    <div>
    </div>
</div>
    <div class="grafico mt-2 col-md-12 bg-white shadow-md rounded-lg" id="grafico-estoque-especie"></div>


<div class="graficos-container mt-5">
</div>

</div>




<div class="mt-3 card">
    <div class="row" style="margin-top: 0px; margin-left: 10px; margin-right: 10px;">
    <h3 class="mt-3 text-center custom-title">Registro de Solicitações</h3>
    <div class="table-responsive mt-3">
        <table id="tabela" class="table table-striped table-hover table-borderless table-sm table align-middle compact">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Protocolo</th>
                    <th scope="col">Solicitante</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Matrícula</th>
                    <th scope="col">Unidade</th>
                    <th scope="col">Data Solicitação</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for solicitacao in solicitacoes %}
                <tr>
                    <td>{{ solicitacao.id or ''}}</td>
                    <td>{{ solicitacao.protocolo or ''}}</td>
                    <td>{{ solicitacao.solicitante or ''}}</td>
                    <td>{{ solicitacao.tipo or ''}}</td>
                    <td>{{ solicitacao.matricula or ''}}</td>
                    <td>{{ solicitacao.unidade or ''}}</td>
                    <td>{{ solicitacao.dt_solicitacao.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                    <td>{{ solicitacao.status or ''}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
   </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Adiciona a classe 'hidden' aos campos "Protocolo", "Matrícula" e "Espécie" inicialmente
        document.getElementById('protocolo').parentNode.classList.add('hidden');
        document.getElementById('matricula').parentNode.classList.add('hidden');
        document.getElementById('especie').parentNode.classList.add('hidden'); // Adiciona a classe hidden ao campo "Espécie"

        var tipoSelect = document.getElementById('tipo');
        var protocoloInput = document.getElementById('protocolo');
        var matriculaInput = document.getElementById('matricula');
        var especieInput = document.getElementById('especie'); // Referência ao campo "Espécie"

        // Função para mostrar ou ocultar os campos "Protocolo", "Matrícula" e "Espécie" com base na opção selecionada
        function toggleFields(selectedOption) {
            if (selectedOption === 'Transferir tarefa' || selectedOption === 'Excluir responsável' || selectedOption === 'Atribuir responsável') {
                protocoloInput.parentNode.classList.remove('hidden');
            } else {
                protocoloInput.parentNode.classList.add('hidden');
            }

            if (selectedOption === 'Atribuir responsável') {
                matriculaInput.parentNode.classList.remove('hidden');
            } else {
                matriculaInput.parentNode.classList.add('hidden');
            }

            // Mostra o campo "Espécie" apenas quando "Solicitar Tarefas de Análise de Acordão" é selecionado
            if (selectedOption === 'Solicitar Tarefas de Análise de Acordão') {
                especieInput.parentNode.classList.remove('hidden');
            } else {
                especieInput.parentNode.classList.add('hidden');
            }
        }

        // Adiciona um evento de mudança ao campo "Tipo"
        tipoSelect.addEventListener('change', function() {
            toggleFields(this.value);
        });

        // Chama a função para garantir que os campos "Protocolo", "Matrícula" e "Espécie" sejam exibidos ou ocultos corretamente ao carregar a página
        toggleFields(tipoSelect.value);
    });
</script>




<script>
    document.addEventListener('DOMContentLoaded', function() {

        // Função modular para carregar dados do gráfico
        function loadGraphData(endpoint, elementId, title, colors) {
            fetch(endpoint)
            .then(response => response.json())
            .then(data => {
                var plotData = [{ values: data.values, labels: data.labels, type: 'pie', marker: { colors: colors } }];
                var layout = { title: title };
                var config = { displayModeBar: false };
                Plotly.newPlot(elementId, plotData, layout, config);
            });
        }

        // Carregar dados dos gráficos
        loadGraphData('/dados-grafico-estoque-instrucao', 'grafico-estoque-instrucao', "Tarefas de Instrução de Recurso Distribuídas vs. Não Distribuídas", ['#17b324', '#b31777']); // Rosa e verde
        loadGraphData('/dados-grafico-estoque', 'grafico-estoque', "Tarefas de Análise de Acordão Distribuídas vs. Não Distribuídas");
        // Continuar com o restante dos gráficos conforme necessário
    });
</script>




<script>
    fetch('/dados-grafico')
        .then(response => response.json())
        .then(data => {
            var trace1 = {
                x: data.especies, // As espécies são colocadas no eixo X para gráficos de barras verticais
                y: data.distribuidas,
                name: 'Distribuídas',
                type: 'bar',
                marker: {
                    color: 'blue'
                }
            };

            var trace2 = {
                x: data.especies, // As espécies são colocadas no eixo X
                y: data.nao_distribuidas,
                name: 'Não Distribuídas',
                type: 'bar',
                marker: {
                    color: 'red'
                }
            };

            var layout = {
                barmode: 'group',
                bargap: 0.15, // Ajusta o espaçamento entre as barras de cada grupo
                bargroupgap: 0.1, // Ajusta o espaçamento entre os grupos
                xaxis: {
                    tickangle: -45, // Inclina os labels do eixo X para melhor visualização
                    type: 'category' // Garante que o eixo X trate os valores como categorias
                },
                yaxis: {
                    title: 'Quantidade'
                },
                title: 'Distribuição de Tarefas Análise de Acordão por Espécie'
            };
            var config = {displayModeBar: false};
            Plotly.newPlot('grafico-estoque-especie', [trace1, trace2], layout, config);
        });
</script>

<script>
$(document).ready(function() {
    // Inicialização da primeira tabela
    $('#tabela').DataTable({
        language: {
            url: '{{ url_for('static', filename='pt-BR.json') }}',
        },
        order: [[0, 'desc']] // Ordena pela primeira coluna em ordem ascendente
    });
});
</script>



{% endblock %}
